#                  Data Science Tools and Ecosystem

## Introduction
##### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
* List popular languages for Data Science
* data science languages
* data science libraries
* Data Science tools
* Arithmetic operation

## data science languages
##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java 
4. C++
5. Scala
6. SQL

## data science libraries
##### Some of the commonly used libraries used by Data Scientists include:
1. PANDAS
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-Learn

## Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
h = 200 / 60
print("the number of hours is {} H".format(h))

the number of hours is 3.3333333333333335 H

## Author
MOHAMED AMHAL